<main
    class="pt-32 h-full bg-[linear-gradient(25deg,#201640_30%,#050b1f_60%,#030a1c_90%)] text-white px-4 md:px-20 flex flex-col md:flex-row items-center justify-center ">

    <section class="flex w-full md:w-[90%] max-w-6xl items-center justify-between gap-6">

        <div class="hidden md:block w-1/2 order-1">
            <img src="/assets/images/Subtract.png" alt="Decoration" class="h-full max-h-[600px] object-contain" />
        </div>

        <div class="w-full max-w-md ">
            <form class="space-y-6 " [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h2 class="font-bold text-4xl text-center">Welcome</h2>

                <div class="flex items-center justify-between">
                    <h2 class="font-bold text-2xl">Sign Up</h2>
                    <a [routerLink]="['/login']" class="underline text-sm hover:text-blue-400">Log in</a>
                </div>


                <div>
                    <input type="email" placeholder="Email" formControlName="email"
                        class="h-12 w-full rounded-md border border-white bg-transparent text-white placeholder:text-neutral-400 p-4" />
                    <div *ngIf="submitted && registerForm.get('email')?.invalid" class="text-red-400 text-sm mt-1">
                        Invalid email address
                    </div>
                </div>

                <h2 class="font-bold text-xl">Personal Data</h2>

                <div class="space-y-4">
                    <input type="text" placeholder="First Name" formControlName="firstName"
                        class="h-12 w-full rounded-md border border-white bg-transparent text-white placeholder:text-neutral-400 p-4" />
                    <div *ngIf="submitted && registerForm.get('firstName')?.invalid" class="text-red-400 text-sm">
                        First name is required (min 4 letters)
                    </div>

                    <input type="text" placeholder="Last Name" formControlName="lastName"
                        class="h-12 w-full rounded-md border border-white bg-transparent text-white placeholder:text-neutral-400 p-4" />
                    <div *ngIf="submitted && registerForm.get('lastName')?.invalid" class="text-red-400 text-sm">
                        Last name is required (min 4 letters)
                    </div>

                    <input type="password" placeholder="Password" formControlName="password"
                        class="h-12 w-full rounded-md border border-white bg-transparent text-white placeholder:text-neutral-400 p-4" />
                    <div *ngIf="submitted && registerForm.get('password')?.invalid" class="text-red-400 text-sm">
                        Password must be at least 6 characters
                    </div>

                    <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                        class="h-12 w-full rounded-md border border-white bg-transparent text-white placeholder:text-neutral-400 p-4" />

                    <div *ngIf="submitted && registerForm.errors?.['passwordMismatch']" class="text-red-400 text-sm">
                        Passwords do not match
                    </div>
                </div>

                <button type="submit"
                    class="mb-20 w-full rounded-md bg-[#228ee6] py-2 text-center text-sm text-white transition-all shadow-md hover:bg-sky-700 active:shadow-none disabled:opacity-50">
                    Register
                </button>
            </form>
        </div>

    </section>
</main>