.genres-filter {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genres-filter button {
  padding: 8px 16px;
  border: none;
  background-color: #e0e0e0;
  color: black;
  border-radius: 6px;
  cursor: pointer;
}

.genres-filter button.active {
  background-color: #3b2b70;
  color: white;
}

.genres-filter button:hover {
  background-color: #3b2b70;
  color: white;
}