<div class="min-h-screen p-8 flex justify-center items-center">
  <div class=" shadow-lg rounded-2xl p-6 w-full max-w-md text-center">

    <!-- صورة البروفايل -->
    <img class="w-24 h-24 rounded-full mx-auto border-4 border-blue-500 shadow-lg"
      src="../../../assets/images/avatar.avif" alt="User Avatar" />

    <!-- بيانات المستخدم -->
    <h2 class="mt-4 text-2xl font-bol" [ngClass]="darkModeService.isDarkMode ? 'text-white' : 'text-brand-dark'">
      {{currentUser?.firstName}} {{currentUser?.lastName}}</h2>

    <!-- معلومات إضافية -->
    <div class="mt-4 text-left space-y-2">
      <p [ngClass]="darkModeService.isDarkMode ? 'text-white' : 'text-brand-dark'"><strong>Email:</strong>
        {{currentUser?.email}}</p>
    </div>

    <!-- أزرار -->
    <div class="mt-6 flex justify-center gap-4">
      <button class=" text-white hover:bg-[#3f3560] px-4 py-2 rounded-xl transition"
        [ngClass]="darkModeService.isDarkMode ? 'bg-[#3b2b70]' : 'bg-[#3b2b70]'">
        Edit Profile
      </button>
      <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-xl transition">
        Logout
      </button>
    </div>
  </div>
</div>