<main class="h-screen  px-4 md:px-20 flex flex-col md:flex-row items-center justify-center overflow-hidden">

    <section class="flex w-full md:w-[90%] max-w-6xl items-center justify-between gap-6">

        <div class="hidden md:block w-1/2 order-1">
            <img src="/assets/images/Subtract.png" alt="Decoration" class="h-full max-h-[600px] object-contain" />
        </div>

        <div class="w-full max-w-md">
            <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h2 class="font-bold text-4xl text-center">{{'Welcome Back'| translate}}</h2>

                <div class="flex items-center justify-between">
                    <h2 class="font-bold text-2xl">{{'Login'| translate}}</h2>
                    <a [routerLink]="['/register']" class="underline text-sm hover:text-blue-400">{{'Sign Up'| translate}}</a>
                </div>

                <div>
                    <input type="email" placeholder="{{'Email'| translate}}" formControlName="email"
                        class="h-12 w-full rounded-md bg-transparent  placeholder:text-neutral-400 p-4"
                        [ngClass]="darkModeService.isDarkMode ? 'border border-white text-white' : 'text-black border border-black'" />
                    <div *ngIf="submitted && loginForm.get('email')?.invalid" class="text-red-700 text-sm mt-1">{{'Invalid email address' | translate}}</div>
                </div>

                <input type="password" placeholder="{{'Password'| translate}}" formControlName="password"
                    class="h-12 w-full rounded-md bg-transparent  placeholder:text-neutral-400 p-4"
                    [ngClass]="darkModeService.isDarkMode ? 'border border-white text-white' : 'text-black border border-black'" />


                <div *ngIf="loginFailed" class="text-red-400 text-sm text-center">{{'Email or password is incorrect'| translate}}</div>

                <button type="submit"
                    class="mb-20 w-full rounded-md py-2 text-center text-sm text-white transition-all shadow-md  active:shadow-none disabled:opacity-50"
                    [ngClass]="darkModeService.isDarkMode ? ' bg-[#7554e1] hover:bg-[#6c5e98d5] text-white' : ' bg-[#201640] hover:bg-[#4e417aed]'">

                    {{"Login"| translate}}
                </button>
            </form>
        </div>

    </section>
</main>